# Analisis exploratorio de datos

### Indice
1.	Carga de información en un DataFrame
2.	Analizando propiedades especificas del set de datos
3.	Analizando utilizacion de memoria del dataframe
4.	Conversion de Datos y mejoras en uso de memoria
5.	Verificacion de Calidad de Datos
6.	Manejo de valores nulos

## 0) Hacer una pregunta interesante (esa te la debo.... por ahora)

## 1) Carga de informacion en un DataFrame

In [2]:
import pandas as pd
df = pd.read_csv("datos/train.csv", sep=",")

In [6]:
df.head(3)

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0

In [50]:
df.loc[0]

id                                                                       254099
titulo                                                        depto. tipo a-402
descripcion                   depto. interior de 80.15m2, consta de sala com...
tipodepropiedad                                                     Apartamento
direccion                                       Avenida Division del Norte 2005
ciudad                                                            Benito Juárez
provincia                                                      Distrito Federal
antiguedad                                                                  NaN
habitaciones                                                                  2
garages                                                                       1
banos                                                                         2
metroscubiertos                                                              80
metrostotales                                                                80
idzona                                                                    23533
lat                                                                         NaN
lng                                                                         NaN
fecha                                                       2015-08-23 00:00:00
gimnasio                                                                      0
usosmultiples                                                                 0
piscina                                                                       0
escuelascercanas                                                              0
centroscomercialescercanos                                                    0
precio                                                                2.273e+06
Name: 0, dtype: object

In [9]:
# dimensiones del DF
print(df.shape)
df.size # rows x col

(240000, 23)

5520000

In [10]:
# podemos contar la cantidad de elementos elementos no nulos en el data frame
df.count()
# aca podemos ver como faltan muchos datos de lat an lng

id                            240000
titulo                        234613
descripcion                   238381
tipodepropiedad               239954
direccion                     186928
ciudad                        239628
provincia                     239845
antiguedad                    196445
habitaciones                  217529
garages                       202235
banos                         213779
metroscubiertos               222600
metrostotales                 188533
idzona                        211379
lat                           116512
lng                           116512
fecha                         240000
gimnasio                      240000
usosmultiples                 240000
piscina                       240000
escuelascercanas              240000
centroscomercialescercanos    240000
precio                        240000
dtype: int64

## 2) Analizando propiedades especificas del set de datos

In [18]:
# Revisemos alguna caterogia principal para ver como esta compuesta:
# Por ejemplo para provincia, la cantidad de inmuebles que hay

In [42]:
provincias = df['provincia']  #subset

In [43]:
provincias.value_counts()

Distrito Federal         58790
Edo. de México           41607
Jalisco                  21238
Querétaro                16988
Nuevo León               15324
Puebla                   10421
San luis Potosí           8447
Yucatán                   7928
Morelos                   7337
Veracruz                  5762
Quintana Roo              4756
Chihuahua                 4590
Coahuila                  3695
Baja California Norte     3220
Sonora                    2988
Guanajuato                2860
Guerrero                  2678
Hidalgo                   2521
Michoacán                 2471
Tamaulipas                2303
Durango                   2275
Sinaloa                   1806
Aguascalientes            1753
Baja California Sur       1700
Nayarit                   1352
Chiapas                   1126
Colima                    1008
Tabasco                    994
Tlaxcala                   839
Oaxaca                     711
Campeche                   263
Zacatecas                   94
Name: provincia, dtype: int64

In [ ]:
# cantidad de cada tipo de propiedades

In [44]:
propiedades = df ['tipodepropiedad']

In [46]:
propiedades.value_counts()

Casa                             141717
Apartamento                       57341
Casa en condominio                19297
Terreno                            9945
Local Comercial                    3055
Oficina comercial                  1741
Bodega comercial                   1406
Edificio                           1396
Terreno comercial                  1326
Casa uso de suelo                   708
Quinta Vacacional                   395
Duplex                              343
Villa                               340
Inmuebles productivos urbanos       200
Rancho                              170
Local en centro comercial           165
Departamento Compartido             141
Otros                               134
Nave industrial                      76
Terreno industrial                   31
Huerta                               20
Lote                                  5
Garage                                1
Hospedaje                             1
Name: tipodepropiedad, dtype: int64

In [ ]:
#precio promedio de las propiedades de cada provincia.

In [ ]:
#Precio promedio de cada tipo de propiedades.

In [49]:
df['idzona'].value_counts()   #esto no se que es

50003995.0    2539
84312.0       2022
334898.0      1545
50003997.0    1409
50003998.0    1400
275358.0      1274
55795.0       1143
286309.0      1060
23815.0       1023
50003996.0     973
87460.0        912
55584.0        879
23569.0        863
55520.0        729
84028.0        610
50002774.0     606
23191.0        599
84338.0        590
24481.0        590
55519.0        587
275308.0       579
24823.0        575
23734.0        566
55552.0        537
23365.0        533
339455.0       513
23837.0        510
343015.0       503
55678.0        475
50003999.0     448
              ...
87478.0          1
116169.0         1
93754.0          1
130040.0         1
1331.0           1
71688.0          1
105566.0         1
105568.0         1
79916.0          1
126518.0         1
72809.0          1
122515.0         1
47689.0          1
127554.0         1
122523.0         1
56074.0          1
105596.0         1
3300.0           1
69092.0          1
56940.0          1
57408.0          1
72853.0          1
291417.0         1
126509.0         1
15318.0          1
1780.0           1
41950.0          1
36441.0          1
15319.0          1
52082.0          1
Name: idzona, Length: 19719, dtype: int64

In [60]:
# la fecha debe ser un string
df.loc[0:0 , 'fecha']

0    2015-08-23 00:00:00
Name: fecha, dtype: object

In [61]:
# generamos nuevas columnas seteando el tipo datetime
df['fecha_datetime'] = pd.to_datetime(df['fecha'])
# generamos una nueva columna obteniendo el año, esto los usuaremos en visualizacion.
df['year'] = df['fecha_datetime'].dt.year

In [62]:
df.loc[0]

id                                                                       254099
titulo                                                        depto. tipo a-402
descripcion                   depto. interior de 80.15m2, consta de sala com...
tipodepropiedad                                                     Apartamento
direccion                                       Avenida Division del Norte 2005
ciudad                                                            Benito Juárez
provincia                                                      Distrito Federal
antiguedad                                                                  NaN
habitaciones                                                                  2
garages                                                                       1
banos                                                                         2
metroscubiertos                                                              80
metrostotales                                                                80
idzona                                                                    23533
lat                                                                         NaN
lng                                                                         NaN
fecha                                                       2015-08-23 00:00:00
gimnasio                                                                      0
usosmultiples                                                                 0
piscina                                                                       0
escuelascercanas                                                              0
centroscomercialescercanos                                                    0
precio                                                                2.273e+06
fecha_datetime                                              2015-08-23 00:00:00
year                                                                       2015
Name: 0, dtype: object

In [63]:
df['year'].value_counts()

2016    94038
2015    51470
2014    40572
2013    30386
2012    23534
Name: year, dtype: int64

In [67]:
df['fecha_datetime'].count()

240000

#   Analizando utilizacion de memoria del dataframe

In [171]:
# veo info general
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 25 columns):
id                            240000 non-null int64
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null object
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
precio                        240000 non-null float64
fecha_datetime                240000 non-null datetime64[ns]
year                          240000 non-null int64
dtypes: datetime64[ns](1), float64(15), int64(2), object(7)
memory usage: 45.8+ MB

In [172]:
# tipos de datos del dataframe
df.dtypes

id                                     int64
titulo                                object
descripcion                           object
tipodepropiedad                       object
direccion                             object
ciudad                                object
provincia                             object
antiguedad                           float64
habitaciones                         float64
garages                              float64
banos                                float64
metroscubiertos                      float64
metrostotales                        float64
idzona                               float64
lat                                  float64
lng                                  float64
fecha                                 object
gimnasio                             float64
usosmultiples                        float64
piscina                              float64
escuelascercanas                     float64
centroscomercialescercanos           float64
precio                               float64
fecha_datetime                datetime64[ns]
year                                   int64
dtype: object

In [174]:
df.memory_usage()

Index                              80
id                            1920000
titulo                        1920000
descripcion                   1920000
tipodepropiedad               1920000
direccion                     1920000
ciudad                        1920000
provincia                     1920000
antiguedad                    1920000
habitaciones                  1920000
garages                       1920000
banos                         1920000
metroscubiertos               1920000
metrostotales                 1920000
idzona                        1920000
lat                           1920000
lng                           1920000
fecha                         1920000
gimnasio                      1920000
usosmultiples                 1920000
piscina                       1920000
escuelascercanas              1920000
centroscomercialescercanos    1920000
precio                        1920000
fecha_datetime                1920000
year                          1920000
dtype: int64

In [188]:
# devuelve solo las columnas de tipo numerico
df.select_dtypes('number')

,id,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,year
0,254099,NaN,2.0,1.0,2.0,80.0,80.0,23533.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2273000.0,2015
1,53461,10.0,3.0,2.0,2.0,268.0,180.0,24514.0,19.310205,-99.227655,0.0,0.0,0.0,1.0,1.0,3600000.0,2013
2,247984,5.0,3.0,2.0,2.0,144.0,166.0,48551.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1200000.0,2015
3,209067,1.0,2.0,1.0,1.0,63.0,67.0,53666.0,19.301890,-99.688015,0.0,0.0,0.0,1.0,1.0,650000.0,2012
4,185997,10.0,2.0,1.0,1.0,95.0,95.0,47835.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1150000.0,2016
5,126147,5.0,2.0,1.0,1.0,75.0,90.0,23650.0,19.300612,-99.148475,0.0,0.0,0.0,0.0,1.0,1100000.0,2014
6,139233,NaN,3.0,1.0,2.0,140.0,160.0,73510.0,17.143504,-96.803504,0.0,0.0,0.0,0.0,0.0,1150000.0,2016
7,5013,2.0,4.0,2.0,3.0,293.0,293.0,130510.0,20.672612,-87.037968,0.0,0.0,0.0,0.0,0.0,4200000.0,2016
8,44962,1.0,2.0,1.0,1.0,58.0,NaN,9010.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,310000.0,2014
9,134537,NaN,NaN,NaN,NaN,250.0,NaN,59171.0,19.316000,-98.887000,0.0,0.0,0.0,0.0,0.0,6200000.0,2016
10,51180,0.0,3.0,1.0,1.0,100.0,NaN,87542.0,22.195878,-101.018956,0.0,0.0,0.0,1.0,1.0,488000.0,2013
11,103293,NaN,3.0,2.0,4.0,256.0,NaN,325095.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,7200000.0,2014
12,47890,0.0,3.0,2.0,2.0,170.0,141.0,83666.0,20.682878,-100.317503,0.0,1.0,0.0,1.0,1.0,1500000.0,2013
13,130216,20.0,NaN,0.0,NaN,227.0,185.0,50003995.0,19.374895,-99.149519,0.0,0.0,0.0,0.0,0.0,3000000.0,2015
14,181436,NaN,NaN,2.0,4.0,250.0,231.0,47732.0,20.729601,-103.431993,0.0,0.0,0.0,0.0,0.0,5300000.0,2014
15,201923,NaN,3.0,2.0,4.0,180.0,250.0,NaN,19.516583,-99.256028,0.0,0.0,0.0,0.0,0.0,3650000.0,2015
16,283945,0.0,3.0,2.0,3.0,210.0,275.0,84338.0,20.708760,-100.459303,0.0,0.0,0.0,1.0,1.0,2450000.0,2013
17,73348,5.0,3.0,2.0,NaN,127.0,127.0,50003995.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4750000.0,2016
18,40421,NaN,NaN,0.0,NaN,NaN,164.0,339455.0,NaN,NaN,0.0,0.0,1.0,1.0,1.0,794078.0,2016
19,87655,0.0,3.0,2.0,2.0,133.0,184.0,339455.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1850000.0,2016
20,90071,0.0,NaN,0.0,NaN,NaN,105.0,68726.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,490000.0,2013
21,224513,NaN,3.0,2.0,4.0,181.0,150.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2300000.0,2016
22,129818,0.0,4.0,NaN,1.0,179.0,224.0,122891.0,22.264768,-97.841012,0.0,0.0,0.0,0.0,0.0,1340000.0,2013
23,146699,4.0,3.0,2.0,4.0,280.0,260.0,NaN,21.113768,-86.846323,0.0,0.0,0.0,0.0,0.0,3500000.0,2015
24,235958,4.0,3.0,NaN,3.0,258.0,NaN,83763.0,20.559744,-100.367382,0.0,0.0,0.0,1.0,1.0,3900000.0,2013
25,97918,8.0,3.0,2.0,2.0,150.0,98.0,321499.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,850000.0,2016
26,70294,3.0,2.0,1.0,1.0,40.0,66.0,78534.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,310000.0,2014
27,177031,18.0,3.0,3.0,3.0,NaN,306.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,10800000.0,2012
28,144635,1.0,3.0,2.0,NaN,120.0,120.0,47735.0,20.714140,-103.453808,0.0,0.0,0.0,0.0,0.0,2600000.0,2015
29,146158,20.0,NaN,0.0,NaN,150.0,NaN,48186.0,20.784515,-103.477062,0.0,0.0,0.0,1.0,0.0,10707900.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239970,123855,10.0,5.0,3.0,4.0,230.0,NaN,48192.0,20.785029,-103.357221,0.0,0.0,1.0,0.0,0.0,3350000.0,2016
239971,2747,4.0,3.0,2.0,2.0,152.0,152.0,50003995.0,19.367193,-99.153030,0.0,0.0,0.0,1.0,1.0,3750000.0,2016
239972,130523,20.0,5.0,2.0,2.0,217.0,120.0,23872.0,19.402050,-99.132807,0.0,0.0,0.0,1.0,1.0,2400000.0,2016
239973,149503,1.0,2.0,1.0,2.0,69.0,NaN,23548.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,1260000.0,2013
239974,156730,4.0,3.0,NaN,3.0,173.0,403.0,56976.0,19.632321,-99.248815,0.0,0.0,0.0,0.0,0.0,3300000.0,2015
239975,258795,NaN,3.0,2.0,2.0,142.0,128.0,127625.0,20.649712,-100.349840,0.0,0.0,0.0,1.0,0.0,1275000.0,2014
239976,184779,NaN,3.0,0.0,3.0,189.0,250.0,15514.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2020000.0,2015
239977,214176,5.0,1.0,1.0,1.0,44.0,65.0,58201.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,490000.0,2015
239978,235796,NaN,3.0,2.0,2.0,226.0,189.0,55642.0,19.603617,-99.248425,0.0,0.0,0.0,0.0,0.0,1880000.0,2016
239979,103355,10.0,3.0,2.0,1.0,198.0,122.0,24547.0,19.457797,-99.209211,0.0,0.0,0.0,1.0,1.0,3300000.0,2016
239980,267455,1.0,2.0,NaN,1.0,203.0,NaN,87713.0,16.754800,-93.094700,0.0,0.0,0.0,0.0,0.0,3386400.0,2016
239981,199041,10.0,2.0,1.0,1.0,50.0,65.0,2455.0,32.486000,-116.987722,0.0,0.0,0.0,1.0,1.0,550000.0,2012
239982,252709,NaN,2.0,1.0,1.0,55.0,90.0,2479.0,32.507828,-116.838982,0.0,0.0,0.0,0.0,0.0,357000.0,2016
239983,194027,NaN,3.0,NaN,2.0,119.0,59.0,87460.0,22.157684,-100.973508,0.0,0.0,0.0,0.0,0.0,684338.0,2016
239984,262913,20.0,2.0,1.0,1.0,62.0,65.0,68789.0,25.695872,-100.335367,0.0,0.0,0.0,1.0,1.0,505000.0,2016
239985,64820,10.0,3.0,2.0,2.0,145.0,87.0,55785.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,2700000.0,2016
239986,41090,0.0,3.0,2.0,2.0,160.0,160.0,343015.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2079000.0,2013
239987,278167,0.0,3.0,2.0,1.0,83.0,90.0,79560.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,830000.0,2015
239988,191335,5.0,NaN,0.0,NaN,367.0,367.0,47372.0,20.616413,-103.365752,0.0,0.0,0.0,0.0,0.0,1990000.0,2015
239989,175203,2.0,3.0,2.0,2.0,347.0,404.0,83780.0,20.648319,-100.433545,0.0,1.0,1.0,1.0,1.0,3850000.0,2016
239990,87498,20.0,3.0,2.0,1.0,118.0,124.0,72083.0,25.661179,-100.250566,0.0,0.0,0.0,0.0,0.0,1495000.0,2014
239991,137337,20.0,2.0,1.0,1.0,68.0,68.0,24118.0,19.403309,-99.119023,0.0,0.0,0.0,1.0,1.0,1450000.0,2015
239992,54886,10.0,3.0,NaN,3.0,270.0,293.0,55589.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,5500000.0,2015
239993,207892,1.0,3.0,2.0,3.0,150.0,150.0,48046.0,20.615574,-103.456215,0.0,0.0,0.0,0.0,0.0,1650000.0,2015
239994,110268,3.0,2.0,2.0,2.0,160.0,90.0,48029.0,20.604484,-103.450049,0.0,0.0,0.0,0.0,0.0,1350000.0,2013
239995,119879,0.0,2.0,2.0,1.0,67.0,NaN,53666.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,650000.0,2015
239996,259178,0.0,3.0,3.0,3.0,200.0,250.0,51954.0,19.294665,-99.692916,0.0,0.0,0.0,1.0,1.0,1940000.0,2014
239997,131932,20.0,2.0,1.0,2.0,138.0,138.0,50003995.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,3400000.0,2015
239998,146867,20.0,4.0,0.0,4.0,235.0,137.0,24162.0,19.366651,-99.082246,1.0,0.0,0.0,1.0,1.0,2890000.0,2014
239999,121958,1.0,3.0,2.0,2.0,149.0,NaN,23750.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,3650000.0,2015

In [190]:
# devuelve solo las columnas de tipo categorico que inicializamos en el dataframe
df.select_dtypes('category')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[240000 rows x 0 columns]

In [159]:
# memoria usada por una serie 
(df['provincia'].memory_usage() / (1024 * 1024))

1.8311309814453125

In [160]:
#tipos de dalores
df['provincia'].values

array(['Distrito Federal', 'Distrito Federal', 'Jalisco', ...,
       'Distrito Federal', 'Distrito Federal', 'Distrito Federal'],
      dtype=object)

### Conversion de Datos y mejoras en uso de memoria   (falta para otros campos)

In [177]:
dfprov = df.loc[:,['provincia']]

In [178]:
type (dfprov)

pandas.core.frame.DataFrame

In [179]:
dfprov.memory_usage()

Index             80
provincia    1920000
dtype: int64

In [180]:
dfprov.head()

          provincia
0  Distrito Federal
1  Distrito Federal
2           Jalisco
3    Edo. de México
4           Jalisco

In [181]:
# creo una nueva serie en el df de tipo category (enum)
dfprov['provincia_categ'] = dfprov['provincia'].astype('category')

In [182]:
dfprov.head()

          provincia   provincia_categ
0  Distrito Federal  Distrito Federal
1  Distrito Federal  Distrito Federal
2           Jalisco           Jalisco
3    Edo. de México    Edo. de México
4           Jalisco           Jalisco

In [185]:
dfprov['provincia_categ'].memory_usage()

241616

In [186]:
dfprov['provincia'].memory_usage()

1920080

### 5)Verificacion de Calidad de Datos

In [192]:
# por ejemplo de la siguiente forma podemos ver los nulos si existen
df.isnull().any()

id                            False
titulo                         True
descripcion                    True
tipodepropiedad                True
direccion                      True
ciudad                         True
provincia                      True
antiguedad                     True
habitaciones                   True
garages                        True
banos                          True
metroscubiertos                True
metrostotales                  True
idzona                         True
lat                            True
lng                            True
fecha                         False
gimnasio                      False
usosmultiples                 False
piscina                       False
escuelascercanas              False
centroscomercialescercanos    False
precio                        False
fecha_datetime                False
year                          False
dtype: bool

In [196]:
df.isnull().sum()

id                                 0
titulo                          5387
descripcion                     1619
tipodepropiedad                   46
direccion                      53072
ciudad                           372
provincia                        155
antiguedad                     43555
habitaciones                   22471
garages                        37765
banos                          26221
metroscubiertos                17400
metrostotales                  51467
idzona                         28621
lat                           123488
lng                           123488
fecha                              0
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
precio                             0
fecha_datetime                     0
year                               0
dtype: int64

In [194]:
# metricas generales de las columnas o features numericos del data frame que podemos analizar via .describe
df.describe()

,id,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,year
count,240000.000000,196445.000000,217529.000000,202235.000000,213779.000000,222600.000000,188533.000000,2.113790e+05,116512.000000,116512.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,2.400000e+05,240000.000000
mean,149969.382092,8.116114,2.902326,1.546874,2.132417,174.016774,176.765145,2.423468e+06,20.696818,-99.509221,0.062475,0.055092,0.087383,0.444142,0.396533,2.530838e+06,2014.675383
std,86634.579744,9.553830,0.896894,0.853507,0.912546,98.152950,94.427328,1.056794e+07,3.137884,9.744143,0.242017,0.228160,0.282397,0.496871,0.489179,2.152552e+06,1.358111
min,1.000000,0.000000,1.000000,0.000000,1.000000,15.000000,15.000000,2.200000e+01,-100.886679,-125.859375,0.000000,0.000000,0.000000,0.000000,0.000000,3.100000e+05,2012.000000
25%,74930.750000,0.000000,2.000000,1.000000,1.000000,90.000000,102.000000,2.489000e+04,19.359846,-100.977908,0.000000,0.000000,0.000000,0.000000,0.000000,9.527725e+05,2014.000000
50%,149875.500000,5.000000,3.000000,2.000000,2.000000,153.000000,155.000000,5.638300e+04,19.543273,-99.240387,0.000000,0.000000,0.000000,0.000000,0.000000,1.850000e+06,2015.000000
75%,225016.500000,10.000000,3.000000,2.000000,3.000000,240.000000,238.000000,8.783800e+04,20.740005,-99.134777,0.000000,0.000000,0.000000,1.000000,1.000000,3.390000e+06,2016.000000
max,299999.000000,80.000000,10.000000,3.000000,4.000000,439.000000,439.000000,5.000400e+07,83.026219,121.036000,1.000000,1.000000,1.000000,1.000000,1.000000,1.252500e+07,2016.000000