## Guia de ejercicios Panda

In [2]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
%matplotlib notebook

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [66]:
notas_alumnos = {
        'padron': ['12345', '21234', '31234', '41234', '41235', '12345'],
        'materia': ['75.06 Organizacion de Datos', '75.06 Organizacion de Datos', '75.42 Taller de Programacion I', '75.07 Algoritmos y programacion III', '75.42 Taller de Programacion I', '75.42 Taller de Programacion I'],
        'nota': [10, 6, 7, 4, 8, 5],
        'fecha': ['2019-08-01', '2017-10-10', '2018-02-20', '2019-10-10', '2018-02-20', '2019-10-10']
    
}

df_a = pd.DataFrame(notas_alumnos, columns = ['padron', 'materia', 'nota', 'fecha'])

In [67]:
df_a.count()
df_a['fecha'] = pd.to_datetime(df_a['fecha'])

In [76]:
# Ejercicio 1
# Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide
# resolver utilizando Pandas:

# A) Cuál es el promedio de notas
count = df_a.shape[0]

df_a.loc[:,"nota"].agg(['sum']) / count

sum    6.666667
Name: nota, dtype: float64

In [64]:
# forma facil
df_a.loc[:,"nota"].mean()

6.666666666666667

In [65]:
# B) Cuál es la nota más alta y la nota más baja registrada durante el año 2019.
df_a[df_a.fecha.dt.year == 2019].loc[:,"nota"].max()

10

In [87]:
# C) Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.
df_2019 = df_a[df_a.fecha.dt.year == 2019]
df_2C2019 = df_2019[df_2019.fecha.dt.month > 7]

#padron = df_2C2019.loc[df_2C2019.nota.idxmax()].padron
padron = df_2C2019.padron.value_counts().idxmax()
padron

'12345'

In [94]:
# D) Cuál es la nota promedio
df_2C2019[df_2C2019.padron == padron].nota.mean()

7.5

In [ ]:
# E) Cuál es la nota promedio por padrón.
df_a.groupby('padron').agg({'nota' : 'mean'})

In [89]:
# Ejercicio 2
#  Se tiene un registro de transacciones bancarias, de la forma (nro de transacción, tipo de
# transacción, cuenta origen, cuenta destino, fecha, hora, monto). Se pide resolver en Pandas:
# A) Validar que todas las transacciones cuenten con un tipo de transacción.

#nro de transacción, tipo de transacción, cuenta origen, cuenta destino, fecha, hora, monto
trx = {
    'nro_trx': ['12345', '21234', '31234', '41234', np.nan, '12345'],
    'tipo_trx': ['credito', 'debito', 'transferencia', 'deposito', 'extraccion', 'deposito'],
    'cta_orig': ['12345', np.nan, '31234', '41234', '41235', '12345'],
    'cta_dest': ['41234', '41235', '12345', np.nan, '21234', '31234'],
    'fecha': ['2019-08-01', '2017-10-10', '2018-02-20', '2019-10-10', '2018-02-20', '2019-10-10'],
    'hora': ['17:00', '08:34', '12:23', '10:21', '18:06', '16:20'],
    'monto': [1300.00, 2300.00, 250.00, 5400.00, 0.00, 560.00]
}

df = pd.DataFrame(trx, columns = ['nro_trx', 'tipo_trx', 'cta_orig', 'cta_dest', 'fecha', 'hora', 'monto'])

In [33]:
df.to_csv(r'out.csv')
df.nro_trx.isna()

0    False
1    False
2    False
3    False
4     True
5    False
Name: nro_trx, dtype: bool

In [22]:
# o leyendo desde archivo
df_trx = pd.read_csv('out.csv', index_col='id', parse_dates=['fecha'])

In [23]:
df_trx

    nro_trx tipo_trx  cta_orig  cta_dest      fecha   hora   monto
id
0   12345.0  credito     12345     41234 2019-08-01  17:00  1300.0
1   21234.0   debito     21234     41235 2017-10-10  08:34  2300.0
2   31234.0    debin     31234     12345 2018-02-20  12:23   250.0
3   41234.0  credito     41234     12345 2019-10-10  10:21  5400.0
4       NaN  credito     41235     21234 2018-02-20  18:06   432.0
5   12345.0   debito     12345     31234 2019-10-10  16:20   560.0

In [26]:
df_trx.nro_trx.isna()

id
0    False
1    False
2    False
3    False
4     True
5    False
Name: nro_trx, dtype: bool

In [44]:
# quito los valorse con tipo_trx NaN
df[~df.nro_trx.isna()]

  nro_trx       tipo_trx cta_orig cta_dest       fecha   hora   monto
0   12345        credito    12345    41234  2019-08-01  17:00  1300.0
1   21234         debito      NaN    41235  2017-10-10  08:34  2300.0
2   31234  transferencia    31234    12345  2018-02-20  12:23   250.0
3   41234       deposito    41234      NaN  2019-10-10  10:21  5400.0
5   12345       deposito    12345    31234  2019-10-10  16:20   560.0

In [45]:
# B) Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta
# origen como cuenta destino. (la validacion es ademas de la anterior?)
df[~df.cta_orig.isna() & ~df.cta_dest.isna()]

  nro_trx       tipo_trx cta_orig cta_dest       fecha   hora   monto
0   12345        credito    12345    41234  2019-08-01  17:00  1300.0
2   31234  transferencia    31234    12345  2018-02-20  12:23   250.0
4     NaN     extraccion    41235    21234  2018-02-20  18:06     0.0
5   12345       deposito    12345    31234  2019-10-10  16:20   560.0

In [52]:
# C) Verificar que todas las transacciones del tipo transferencia, depósito y extracción
# cuenten con montos distintos de cero
df[df.tipo_trx.isin(['deposito', 'transferencia', 'extraccion']) 
     & df.monto != 0]

  nro_trx       tipo_trx cta_orig cta_dest       fecha   hora   monto
2   31234  transferencia    31234    12345  2018-02-20  12:23   250.0
3   41234       deposito    41234      NaN  2019-10-10  10:21  5400.0
5   12345       deposito    12345    31234  2019-10-10  16:20   560.0

In [56]:
# D) Indicar cuáles fueron las 10 transacciones de mayor monto.
print(df['monto'].sort_values(ascending=False)[:10],'\n')

3    5400.0
1    2300.0
0    1300.0
5     560.0
2     250.0
4       0.0
Name: monto, dtype: float64

In [64]:
# E) Indicar cuál es el tipo de transacción que registra mayor monto promedio.
df.groupby('tipo_trx').agg({'monto' : 'mean'}).sort_values('monto', ascending=False).iloc[0]

monto    2980.0
Name: deposito, dtype: float64

In [93]:
# F) Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones
df_tmp = df
df_tmp['cuentas']
df.cta_orig.value_counts().sort_values(ascending=False)[:5]

12345    2
41234    1
41235    1
31234    1
Name: cta_orig, dtype: int64

In [ ]:
# G) Indicar cuáles son las 5 cuentas con mayor monto involucrado